:root {
  --editor-glyphs-search-input-background-color-light: #eee;
  --editor-glyphs-search-input-background-color-dark: #333;

  --editor-glyphs-search-input-foreground-color-light: black;
  --editor-glyphs-search-input-foreground-color-dark: white;

  --editor-text-entry-input-background-color-light: #eee;
  --editor-text-entry-input-background-color-dark: #333;

  --editor-text-entry-input-foreground-color-light: black;
  --editor-text-entry-input-foreground-color-dark: white;

  --editor-overlay-item-background-color-light: white;
  --editor-overlay-item-background-color-dark: #484848;

  --editor-tool-button-hover-background-color-light: #eee;
  --editor-tool-button-hover-background-color-dark: #333;

  --editor-tool-button-active-background-color-light: #ccc;
  --editor-tool-button-active-background-color-dark: #555;

  --editor-tool-button-selected-background-color-light: #666;
  --editor-tool-button-selected-background-color-dark: #ccc;

  --editor-mini-console-background-color-light: #ddd;
  --editor-mini-console-background-color-dark: #444;

  --editor-mini-console-foreground-color-light: black;
  --editor-mini-console-foreground-color-dark: white;
}

:root {
  --editor-glyphs-search-input-background-color: var(
    --editor-glyphs-search-input-background-color-light
  );
  --editor-glyphs-search-input-foreground-color: var(
    --editor-glyphs-search-input-foreground-color-light
  );
  --editor-text-entry-input-background-color: var(
    --editor-text-entry-input-background-color-light
  );
  --editor-text-entry-input-foreground-color: var(
    --editor-text-entry-input-foreground-color-light
  );
  --editor-overlay-item-background-color: var(
    --editor-overlay-item-background-color-light
  );
  --editor-tool-button-hover-background-color: var(
    --editor-tool-button-hover-background-color-light
  );
  --editor-tool-button-active-background-color: var(
    --editor-tool-button-active-background-color-light
  );
  --editor-tool-button-selected-background-color: var(
    --editor-tool-button-selected-background-color-light
  );
  --editor-mini-console-background-color: var(
    --editor-mini-console-background-color-light
  );
  --editor-mini-console-foreground-color: var(
    --editor-mini-console-foreground-color-light
  );
}

:root.dark-theme {
  --editor-glyphs-search-input-background-color: var(
    --editor-glyphs-search-input-background-color-dark
  );
  --editor-glyphs-search-input-foreground-color: var(
    --editor-glyphs-search-input-foreground-color-dark
  );
  --editor-text-entry-input-background-color: var(
    --editor-text-entry-input-background-color-dark
  );
  --editor-text-entry-input-foreground-color: var(
    --editor-text-entry-input-foreground-color-dark
  );
  --editor-overlay-item-background-color: var(
    --editor-overlay-item-background-color-dark
  );
  --editor-tool-button-hover-background-color: var(
    --editor-tool-button-hover-background-color-dark
  );
  --editor-tool-button-active-background-color: var(
    --editor-tool-button-active-background-color-dark
  );
  --editor-tool-button-selected-background-color: var(
    --editor-tool-button-selected-background-color-dark
  );
  --editor-mini-console-background-color: var(
    --editor-mini-console-background-color-dark
  );
  --editor-mini-console-foreground-color: var(
    --editor-mini-console-foreground-color-dark
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --editor-glyphs-search-input-background-color: var(
      --editor-glyphs-search-input-background-color-dark
    );
    --editor-glyphs-search-input-foreground-color: var(
      --editor-glyphs-search-input-foreground-color-dark
    );
    --editor-text-entry-input-background-color: var(
      --editor-text-entry-input-background-color-dark
    );
    --editor-text-entry-input-foreground-color: var(
      --editor-text-entry-input-foreground-color-dark
    );
    --editor-overlay-item-background-color: var(
      --editor-overlay-item-background-color-dark
    );
    --editor-tool-button-hover-background-color: var(
      --editor-tool-button-hover-background-color-dark
    );
    --editor-tool-button-active-background-color: var(
      --editor-tool-button-active-background-color-dark
    );
    --editor-tool-button-selected-background-color: var(
      --editor-tool-button-selected-background-color-dark
    );
    --editor-mini-console-background-color: var(
      --editor-mini-console-background-color-dark
    );
    --editor-mini-console-foreground-color: var(
      --editor-mini-console-foreground-color-dark
    );
  }

  :root.light-theme {
    --editor-glyphs-search-input-background-color: var(
      --editor-glyphs-search-input-background-color-light
    );
    --editor-glyphs-search-input-foreground-color: var(
      --editor-glyphs-search-input-foreground-color-light
    );
    --editor-text-entry-input-background-color: var(
      --editor-text-entry-input-background-color-light
    );
    --editor-text-entry-input-foreground-color: var(
      --editor-text-entry-input-foreground-color-light
    );
    --editor-overlay-item-background-color: var(
      --editor-overlay-item-background-color-light
    );
    --editor-tool-button-hover-background-color: var(
      --editor-tool-button-hover-background-color-light
    );
    --editor-tool-button-active-background-color: var(
      --editor-tool-button-active-background-color-light
    );
    --editor-tool-button-selected-background-color: var(
      --editor-tool-button-selected-background-color-light
    );
    --editor-mini-console-background-color: var(
      --editor-mini-console-background-color-light
    );
    --editor-mini-console-foreground-color: var(
      --editor-mini-console-foreground-color-light
    );
  }
}

.editor-container {
  /*display: flex;*/ /* or grid */
  position: relative;
  width: 100vw;
  height: 100vh;
}

.glyphs-navigation {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.glyphs-search {
  /*padding-bottom: 1em;*/
}

.glyphs-search-input,
#text-entry-textarea {
  background-color: var(--editor-text-entry-input-background-color);
  color: var(--editor-text-entry-input-foreground-color);
  border-radius: 0.25em;
  border: 0.5px solid lightgray;
  outline: none;
  padding: 0.2em 0.5em;
  font-family: fontra-ui-regular, sans-serif;
  font-size: 1.1rem;
  resize: none;
}

.sliders-and-sources {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em 0.75em 0.25em; /* top right bottom left */
  gap: 1em;
}

.axis-sliders {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow: scroll;
  padding: 0.25em 0;
}

.sources-list {
  min-height: 100px;
  margin-top: 1em;
  flex-shrink: 100;
}

.slider {
  /*margin-right: 0.75em;*/
  margin: 2px 0;
  padding: 0;
}

.slider-divider {
  border: none;
  border-top: 1px solid gray;
  width: 90%;
  height: 1px;
}

.canvas-container {
  position: relative; /* for the children */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#edit-canvas {
  position: absolute; /* but relative to canvas-container */
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  touch-action: none;
  cursor: default;
  outline: none;
}

.cleanable-overlay.overlay-layer-hidden {
  display: none;
}

.tools-overlay {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
  justify-self: center;
}

.tools-item {
  display: flex;
  background-color: var(--editor-overlay-item-background-color);
  border-radius: 0.65em;
  box-shadow: 1px 1px 5px #0006;
  cursor: pointer;
  height: min-content;
  pointer-events: auto;
  overflow: hidden;
}

.tool-button {
  font-family: fontra-icons;
  font-size: 1.7rem;
  user-select: none;
  background-color: var(--editor-overlay-item-background-color);
  width: 2.7rem;
  height: 1.9rem;
  padding: 0.1rem;
  text-align: center;
  transition: 0.15s;
}

.tool-icon {
  position: relative;
  bottom: +0.25rem;
}

.tool-icon:hover {
  position: relative;
  transform: scale(1.1, 1.1);
}

.tool-button:hover {
  background-color: var(--editor-tool-button-hover-background-color);
}

.tool-button:active {
  background-color: var(--editor-tool-button-active-background-color);
}

.tool-button.selected {
  background-color: var(--editor-tool-button-selected-background-color);
  color: var(--background-color);
}

#mini-console {
  display: none; /* will be set to 'inherit' when needed */
  z-index: 3;
  position: absolute;
  color: var(--editor-mini-console-foreground-color);
  background-color: var(--editor-mini-console-background-color);
  font-size: 0.8rem;
  padding: 1px 4px 1px 4px;
  bottom: 0;
  right: 0;
}

.text-entry {
  padding: 0.5em;
}

#text-entry-textarea {
  overflow-x: scroll;
}
