:root {
  --editor-glyphs-search-input-background-color-light: white;
  --editor-glyphs-search-input-background-color-dark: #333;

  --editor-glyphs-search-input-foreground-color-light: black;
  --editor-glyphs-search-input-foreground-color-dark: white;

  --editor-overlay-item-background-color-light: white;
  --editor-overlay-item-background-color-dark: #484848;

  --editor-tool-button-hover-background-color-light: #EEE;
  --editor-tool-button-hover-background-color-dark: #333;

  --editor-tool-button-active-background-color-light: #CCC;
  --editor-tool-button-active-background-color-dark: #555;

  --editor-tool-button-selected-background-color-light: #666;
  --editor-tool-button-selected-background-color-dark: #CCC;

  --editor-mini-console-background-color-light: #DDD;
  --editor-mini-console-background-color-dark: #444;

  --editor-mini-console-foreground-color-light: black;
  --editor-mini-console-foreground-color-dark: white;
}

:root {
  --editor-glyphs-search-input-background-color: var(--editor-glyphs-search-input-background-color-light);
  --editor-glyphs-search-input-foreground-color: var(--editor-glyphs-search-input-foreground-color-light);
  --editor-overlay-item-background-color: var(--editor-overlay-item-background-color-light);
  --editor-tool-button-hover-background-color: var(--editor-tool-button-hover-background-color-light);
  --editor-tool-button-active-background-color: var(--editor-tool-button-active-background-color-light);
  --editor-tool-button-selected-background-color: var(--editor-tool-button-selected-background-color-light);
  --editor-mini-console-background-color: var(--editor-mini-console-background-color-light);
  --editor-mini-console-foreground-color: var(--editor-mini-console-foreground-color-light);
}

:root.dark-theme {
  --editor-glyphs-search-input-background-color: var(--editor-glyphs-search-input-background-color-dark);
  --editor-glyphs-search-input-foreground-color: var(--editor-glyphs-search-input-foreground-color-dark);
  --editor-overlay-item-background-color: var(--editor-overlay-item-background-color-dark);
  --editor-tool-button-hover-background-color: var(--editor-tool-button-hover-background-color-dark);
  --editor-tool-button-active-background-color: var(--editor-tool-button-active-background-color-dark);
  --editor-tool-button-selected-background-color: var(--editor-tool-button-selected-background-color-dark);
  --editor-mini-console-background-color: var(--editor-mini-console-background-color-dark);
  --editor-mini-console-foreground-color: var(--editor-mini-console-foreground-color-dark);
}


@media (prefers-color-scheme: dark) {

  :root {
    --editor-glyphs-search-input-background-color: var(--editor-glyphs-search-input-background-color-dark);
    --editor-glyphs-search-input-foreground-color: var(--editor-glyphs-search-input-foreground-color-dark);
    --editor-overlay-item-background-color: var(--editor-overlay-item-background-color-dark);
    --editor-tool-button-hover-background-color: var(--editor-tool-button-hover-background-color-dark);
    --editor-tool-button-active-background-color: var(--editor-tool-button-active-background-color-dark);
    --editor-tool-button-selected-background-color: var(--editor-tool-button-selected-background-color-dark);
    --editor-mini-console-background-color: var(--editor-mini-console-background-color-dark);
    --editor-mini-console-foreground-color: var(--editor-mini-console-foreground-color-dark);
  }

  :root.light-theme {
    --editor-glyphs-search-input-background-color: var(--editor-glyphs-search-input-background-color-light);
    --editor-glyphs-search-input-foreground-color: var(--editor-glyphs-search-input-foreground-color-light);
    --editor-overlay-item-background-color: var(--editor-overlay-item-background-color-light);
    --editor-tool-button-hover-background-color: var(--editor-tool-button-hover-background-color-light);
    --editor-tool-button-active-background-color: var(--editor-tool-button-active-background-color-light);
    --editor-tool-button-selected-background-color: var(--editor-tool-button-selected-background-color-light);
    --editor-mini-console-background-color: var(--editor-mini-console-background-color-light);
    --editor-mini-console-foreground-color: var(--editor-mini-console-foreground-color-light);
  }

}


.page {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.glyphs-navigation {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.glyphs-search {
  padding-bottom: 1em;
}

.glyphs-search-input {
  background-color: var(--editor-glyphs-search-input-background-color);
  color: var(--editor-glyphs-search-input-foreground-color);
  border-radius: 0.5em;
  border: 0.5px solid lightgray;
  outline: none;
  padding: 0.2em;
  padding-left: 0.8em;
  font-family: fontra-ui-regular, sans-serif;
  font-size: 1.1rem;
}

.sliders-and-sources {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em 0.75em 0.25em;  /* top right bottom left */
  gap: 1em;
}

.axis-sliders {
  display: flex;
  flex-direction: column;
  gap:  0.5em;
  overflow: scroll;
  flex-shrink: 1;
}

.sources-list {
  flex-shrink: 100;
  min-height: 100px;
}

.slider-label {
  /*TODO:  better alignment*/
}

.slider {
  /*margin-right: 0.75em;*/
  padding: 0;
}

.slider-divider {
  border: none;
  border-top: 1px solid gray;
  width: 90%;
  height: 1px;
}

.canvas-container {
  width: 100%;
  height: 100%;
}

#edit-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  touch-action: none;
  cursor: default;
  outline: none;
}

#overlay-layer {
  z-index: 2;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 100%;
  position: absolute;
  gap: 1em;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.overlay-items {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
  /*width: min-content;*/
  /*height: 100%;*/
}

.overlay-items-navigation {

}

.overlay-items-tools {
  justify-self: center;
}

.overlay-items-info {
  justify-self: end;
}

#overlay-layer.overlay-layer-hidden {
  display: none;
}

.overlay-item {
  background-color: var(--editor-overlay-item-background-color);
  border-radius: 0.75em;
  padding: 0.4em;
  box-shadow: 1.5px 1.5px 5px #0006;
  cursor: pointer;
  transition: 0.15s;
  display: flex;
  width: 2.2em;
  height: 2.2em;
  max-height: calc(100% - 1em);
  pointer-events: auto;
  overflow: hidden;
}

.tools-item {
  display: flex;
  background-color: var(--editor-overlay-item-background-color);
  border-radius: 0.65em;
  box-shadow: 1.0px 1.0px 5px #0006;
  cursor: pointer;
  height: min-content;
  pointer-events: auto;
  overflow: hidden;
}

.tool-button {
  font-family: fontra-icons;
  font-size: 1.7rem;
  user-select: none;
  background-color: var(--editor-overlay-item-background-color);
  width:  2.7rem;
  height:  1.9rem;
  padding: 0.1rem;
  text-align: center;
  transition: 0.15s;
}

.tool-icon {
  position: relative;
  bottom: +0.25rem;
}

.tool-icon:hover {
  position: relative;
  transform: scale(1.1, 1.1)
}

.tool-button:hover {
  background-color: var(--editor-tool-button-hover-background-color);
}

.tool-button:active {
  background-color: var(--editor-tool-button-active-background-color);
}

.tool-button.selected {
  background-color: var(--editor-tool-button-selected-background-color);
  color: var(--background-color);
}

.overlay-item-expanded {
  width: max-content;
  height: max-content;
}

.overlay-item-fontra-icon {
  display: inline;
  font-family: fontra-icons;
  font-size: 1.8rem;
  user-select: none;
  text-align: center;
  width: 100%;
  position: relative;
  line-height: 1.65rem;
  transition: all 0.125s ease-in-out;
}

.overlay-item-fontra-icon:hover {
  transform: scale(1.2, 1.2)
}

.overlay-item-fontra-icon:active {
  transform: scale(1.2, 1.2)
}

.overlay-item > .overlay-content {
  display: none;
}

.overlay-item-expanded > .overlay-content {
  display: inherit;
}

.overlay-item-expanded > .overlay-item-fontra-icon {
  display: none;
}

#mini-console {
  display: none;  /* will be set to 'inherit' when needed */
  z-index: 3;
  position: absolute;
  color: var(--editor-mini-console-foreground-color);
  background-color: var(--editor-mini-console-background-color);
  font-size: 0.8rem;
  padding: 1px 4px 1px 4px;
  bottom: 0;
  right: 0;
}

.text-entry {
  padding: 0.5em;
}

#text-entry-textarea {
  font-size: 1.1rem;
  font-family: fontra-ui-regular, sans-serif;
  white-space: normal;
  outline: none;
  cursor: auto;
  display: inline;
  border: 0.5px solid lightgray;
  border-radius: 0.5em;
  overflow-x: scroll;
  /*white-space: pre;*/
  /*overflow-wrap: normal;*/
  width: 12em;
}
