<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Fontra</title>
    <link href="/css/ui-styling.css" rel="stylesheet" />
    <link href="/css/slider.css" rel="stylesheet" />
    <link href="/css/core.css" rel="stylesheet" />
    <link href="/editor/editor.css" rel="stylesheet" />
    <script type="module" src="/core/theme-settings.js"></script>
    <script type="module" src="/web-components/add-remove-buttons.js"></script>
    <script type="module" src="/web-components/designspace-location.js"></script>
    <script type="module" src="/web-components/dialog-overlay.js"></script>
    <script type="module" src="/web-components/glyphs-search.js"></script>
    <script type="module" src="/web-components/grouped-settings.js"></script>
    <script type="module" src="/web-components/inline-svg.js"></script>
    <script type="module" src="/web-components/reference-font.js"></script>
    <script type="module" src="/web-components/ui-list.js"></script>
  </head>
  <body>
    <dialog is="dialog-overlay"></dialog>

    <div id="menu-panel-container"></div>

    <div id="global-loader-spinner"></div>

    <div class="editor-container">
      <div class="sidebar-container left cleanable-overlay">
        <div class="sidebar-content" data-sidebar-name="text-entry">
          <div class="sidebar-text-entry">
            <textarea rows="1" wrap="off" id="text-entry-textarea"></textarea>

            <div id="text-align-menu">
              <inline-svg data-align="left" src="/images/alignleft.svg"></inline-svg>
              <inline-svg
                data-align="center"
                class="selected"
                src="/images/aligncenter.svg"
              ></inline-svg>
              <inline-svg data-align="right" src="/images/alignright.svg"></inline-svg>
            </div>
          </div>
        </div>

        <div class="sidebar-content" data-sidebar-name="glyph-search">
          <div class="sidebar-glyph-search">
            <glyphs-search id="glyphs-search"></glyphs-search>
          </div>
        </div>

        <div class="sidebar-content" data-sidebar-name="designspace-navigation">
          <div id="designspace-navigation">
            <designspace-location id="designspace-location"></designspace-location>
            <ui-list id="sources-list"></ui-list>
            <add-remove-buttons
              id="sources-list-add-remove-buttons"
            ></add-remove-buttons>
          </div>
        </div>

        <div class="sidebar-content" data-sidebar-name="user-settings">
          <div class="sidebar-settings">
            <grouped-settings id="user-settings"></grouped-settings>
          </div>
        </div>

        <div class="sidebar-content" data-sidebar-name="reference-font">
          <div id="sidebar-reference-font">
            <reference-font id="reference-font"></reference-font>
          </div>
        </div>
        <div class="sidebar-resize-gutter" data-grow-direction="right"></div>
      </div>

      <div class="main-container">
        <canvas id="edit-canvas" tabindex="1"></canvas>

        <div id="mini-console"></div>

        <div class="main-overlay-container cleanable-overlay">
          <div class="tab-overlay-container left">
            <div class="sidebar-shadow-box"></div>
            <div class="sidebar-tab" data-sidebar-name="text-entry">
              <inline-svg src="/images/texttool.svg"></inline-svg>
            </div>
            <div class="sidebar-tab" data-sidebar-name="glyph-search">
              <inline-svg src="/images/magnifyingglass.svg"></inline-svg>
            </div>
            <div class="sidebar-tab" data-sidebar-name="designspace-navigation">
              <inline-svg src="/images/sliders.svg"></inline-svg>
            </div>
            <div class="sidebar-tab" data-sidebar-name="user-settings">
              <inline-svg src="/images/gear.svg"></inline-svg>
            </div>
            <div class="sidebar-tab" data-sidebar-name="reference-font">
              <inline-svg src="/images/reference.svg"></inline-svg>
            </div>
          </div>

          <div class="tool-overlay-container">
            <div class="tools-overlay">
              <div id="edit-tools" class="tools-item">
                <!-- content will be filled in dynamically -->
              </div>
              <div id="zoom-tools" class="tools-item">
                <div class="tool-button" data-tool="zoom-out">
                  <inline-svg class="tool-icon" src="/images/minus.svg"></inline-svg>
                </div>
                <div class="tool-button" data-tool="zoom-in">
                  <inline-svg class="tool-icon" src="/images/plus.svg"></inline-svg>
                </div>
                <div class="tool-button" data-tool="zoom-fit-selection">
                  <inline-svg class="tool-icon" src="/images/bullseye.svg"></inline-svg>
                </div>
              </div>
            </div>
          </div>
          <!-- tool-overlay-container -->

          <!-- <div></div> --><!-- overlay filler -->

          <div class="tab-overlay-container right">
            <div class="sidebar-shadow-box"></div>
            <div class="sidebar-tab" data-sidebar-name="sidebar-selection-info">
              <inline-svg src="/images/info.svg"></inline-svg>
            </div>
          </div>
        </div>
      </div>

      <div class="sidebar-container right cleanable-overlay">
        <div class="sidebar-resize-gutter" data-grow-direction="left"></div>
        <div class="sidebar-content" data-sidebar-name="sidebar-selection-info">
          <div class="sidebar-selection-info">
            <div id="selection-info">
              <!-- contents will be filled dynamically -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script type="module">
    import { EditorController } from "/editor/editor.js";

    async function startApp() {
      window.editorController = await EditorController.fromWebSocket();
    }

    startApp();
  </script>
</html>
