{
  "bracketSpacing": true,
  "organizeImportsSkipDestructiveCodeActions": true,
  "plugins": [
    "prettier-plugin-organize-imports"
  ],
  "printWidth": 88,
  "semi": true,
  "quoteProps": "consistent",
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma" : "es5",
  "useTabs": false
}
