{
  "bracketSpacing": true,
  "organizeImportsSkipDestructiveCodeActions": true,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-sort-json"],
  "printWidth": 88,
  "semi": true,
  "quoteProps": "consistent",
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "overrides": [
    {
      "files": ["src/fontra/client/core/classes.json", ".prettierrc"],
      "options": {
        "plugins": ["prettier-plugin-organize-imports"]
      }
    }
  ]
}
