@font-face {
  font-family: "fontra-ui-regular";
  src: url("../fonts/Read-Regular_V3101.woff2") format("woff2");
}


html, body {
  font-family: fontra-ui-regular, sans-serif;
  font-size: 0.9em;
  padding: 0;
  margin:  0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide scrollbars */
  white-space: nowrap;
  overscroll-behavior: none;
  touch-action: none;
}

.page {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.glyphs-navigation {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.glyphs-search {
  padding-bottom: 1em;
}

.glyphs-search-input {
  border-radius: 0.5em;
  border: 0.5px solid lightgray;
  padding: 0.2em;
  padding-left: 0.8em;
  font-family: fontra-ui-regular, sans-serif;
  font-size: 1.2em;
}

.sliders-and-sources {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em 0.75em 0.25em;  /* top right bottom left */
  gap: 1em;
}

.axis-sliders {
  display: flex;
  flex-direction: column;
  gap:  0.5em;
  overflow: scroll;
}

.slider-label {
  /*TODO:  better alignment*/
}

.slider {
  /*margin-right: 0.75em;*/
  padding: 0;
}

.canvas-container {
  width: 100%;
  height: 100%;
}

#edit-canvas {
  /*position: absolute;*/
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  touch-action: none;
  cursor: default;
}

.overlay-layer {
  z-index: 2;
  display: flex;
  flex-direction: row;
  position: absolute;
  gap: 1em;
  padding: 1em;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.overlay-item {
  background-color: #FFF;
  border-radius: 1em;
  padding: 0.6em;
  box-shadow: 2px 2px 10px #999;
  cursor: pointer;
  transition: 0.15s;
  display: flex;
  overflow: scroll;
  max-width: calc(100% - 3.5em);
  max-height: calc(100% - 3.5em);
  width: max-content;
  height: max-content;
  pointer-events: auto;
}

.overlay-item:hover {
  background-color: white;
}

.overlay-item > div {
  display: none;
}

.overlay-item:hover > div {
  display: inherit;
}

.icon-img {
  width: 2em;
  height: 2em;
  vertical-align: top;
}

.overlay-item:hover > img {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html, body {
    color: white;
  }

  #edit-canvas {
    background-color: black;
  }

  .glyphs-navigation {
    background-color: #222;
  }

  .glyphs-search-input {
    background-color: black;
    color: white;
  }

  .overlay-item {
    background-color: #333;
  }

  .overlay-item:hover {
    background-color: #222;
  }

  #glyph-search-img {
    content: url("../images/magnifyingGlass-dark.svg");
  }

  #slider-img {
    content: url("../images/sliders-dark.svg");
  }

}
