@font-face {
  font-family: "fontra-ui-regular";
  src: url("../fonts/InriaSans-Light.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "fontra-ui-regular";
  src: url("../fonts/InriaSans-Medium.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "fontra-icons";
  src: url("../fonts/fontra-icons.woff2") format("woff2");
}

@font-face {
  font-family: "fontra-ui-semibold";
  src: url("../fonts/InriaSans-Regular.woff2") format("woff2");
}

:root {
  --fontra-red-color: #f11759;

  --foreground-color-light: black;
  --background-color-light: #f6f6f6;
  --foreground-color-dark: white;
  --background-color-dark: #333;

  --ui-element-background-color-light: white;
  --ui-element-background-color-dark: #484848;
  --text-input-foreground-color-light: black;
  --text-input-background-color-light: #eee;
  --text-input-foreground-color-dark: white;
  --text-input-background-color-dark: #333;

  --foreground-color: var(--foreground-color-light);
  --background-color: var(--background-color-light);

  --ui-element-background-color: var(--ui-element-background-color-light);
  --text-input-foreground-color: var(--text-input-foreground-color-light);
  --text-input-background-color: var(--text-input-background-color-light);
}

:root.dark-theme {
  --foreground-color: var(--foreground-color-dark);
  --background-color: var(--background-color-dark);

  --ui-element-background-color: var(--ui-element-background-color-dark);
  --text-input-foreground-color: var(--text-input-foreground-color-dark);
  --text-input-background-color: var(--text-input-background-color-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: var(--foreground-color-dark);
    --background-color: var(--background-color-dark);

    --ui-element-background-color: var(--ui-element-background-color-dark);
    --text-input-foreground-color: var(--text-input-foreground-color-dark);
    --text-input-background-color: var(--text-input-background-color-dark);
  }

  :root.light-theme {
    --foreground-color: var(--foreground-color-light);
    --background-color: var(--background-color-light);

    --ui-element-background-color: var(--ui-element-background-color-light);
    --text-input-foreground-color: var(--text-input-foreground-color-light);
    --text-input-background-color: var(--text-input-background-color-light);
  }
}

html,
body {
  font-family: fontra-ui-regular, sans-serif;
  font-feature-settings: "tnum" 1;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide scrollbars */
  white-space: nowrap;
  overscroll-behavior: none;
  touch-action: none;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

@keyframes global-loader-spinner {
  to {
    transform: rotate(360deg);
  }
}

#global-loader-spinner {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10rem;
  height: 10rem;
  margin-top: -5rem;
  margin-left: -5rem;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.6rem solid #fff8;
  border-top-color: #0005;
  border-left-color: #0005;
  animation: global-loader-spinner 0.8s linear infinite;
}
