*,
*::before,
*::after {
  box-sizing: border-box;
}

[hidden] {
  display: none;
}

.fontra-button {
  cursor: pointer;
  background-color: #ddd;

  border-radius: 1em;
  padding: 0.35em 2em 0.35em 2em;

  border: none;
  font-family: fontra-ui-regular, sans-serif;
  font-size: 1em;
  text-align: center;
  transition: 100ms;
}

.fontra-button:hover {
  background-color: #ccc;
}

.fontra-button:active {
  background-color: #bbb;
}

/*
This is a workaround. We don't necessarily want to suppress the focus ring,
but we're running into a (Chrome) bug where a button gets focus when it
shouldn't: when a dialog gets dismissed with a key event, the button that
caused the dialog to *open* wrongly gets the focus.
*/
button,
input[type="button"]:focus {
  outline: none;
}
