.ui-list {
  overflow: scroll;
  border: solid 1px lightgray;
}

.ui-list.empty {
  display:  none;
}

.ui-list > .contents {
  display: flex;
  flex-direction: column;
}

.ui-list > .contents > .row {
  display: flex;
  width: content;
  border-top: solid 1px #DDD;
  background-color: white;
  padding: 0.15em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
}

.ui-list > .contents > .selected {
  background-color: #DDD;
}

.ui-list > .contents > .row > .text-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (prefers-color-scheme: dark) {
  .ui-list {
    border: solid 1px darkgray;
  }

  .ui-list > .contents > .row {
    border-top: solid 1px #333;
  }

  .ui-list > .contents > .row {
    background-color: black;
    color: white;
  }

  .ui-list > .contents > .selected {
    background-color: #333;
  }
}

.ui-form {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 0.35rem 0.35rem;
  overflow-y: scroll;
}

.ui-form:nth-child(even) {
  background-color: blue;
}

.ui-form-label {
  text-align: right;
  align-self: center;
}

.ui-form-divider {
  border: none;
  border-top: 1px solid gray;
  width: 90%;
  height: 1px;
  grid-column: 1 / span 2;
}

.ui-form-label.header {
  font-weight: bold;
  grid-column: 1 / span 2;
  text-align: left;
}

.ui-form-value input {
  font-family: "fontra-ui-regular";
  width: 12.5em;
}

.ui-form-value input[type=number] {
  width: 4em;
}

.ui-form-value input[type=range] {
  width: 8em;
}
