:root {
  --ui-list-border-color-light: lightgray;
  --ui-list-row-border-color-light: #DDD;
  --ui-list-row-foreground-color-light: black;
  --ui-list-row-background-color-light: white;
  --ui-list-row-selected-background-color-light: #DDD;
  --ui-form-input-border-color-light: #888;

  --ui-list-border-color-dark: darkgray;
  --ui-list-row-border-color-dark: #333;
  --ui-list-row-foreground-color-dark: white;
  --ui-list-row-background-color-dark: #333;
  --ui-list-row-selected-background-color-dark: #555;
  --ui-form-input-border-color-dark: #222;
}


:root {
  --ui-list-border-color: var(--ui-list-border-color-light);
  --ui-list-row-border-color: var(--ui-list-row-border-color-light);
  --ui-list-row-foreground-color: var(--ui-list-row-foreground-color-light);
  --ui-list-row-background-color: var(--ui-list-row-background-color-light);
  --ui-list-row-selected-background-color: var(--ui-list-row-selected-background-color-light);
  --ui-form-input-foreground-color: var(--ui-list-row-foreground-color-light);
  --ui-form-input-background-color: var(--ui-list-row-background-color-light);
  --ui-form-input-border-color: var(--ui-form-input-border-color-light);
}


:root.dark-theme {
  --ui-list-border-color: var(--ui-list-border-color-dark);
  --ui-list-row-border-color: var(--ui-list-row-border-color-dark);
  --ui-list-row-foreground-color: var(--ui-list-row-foreground-color-dark);
  --ui-list-row-background-color: var(--ui-list-row-background-color-dark);
  --ui-list-row-selected-background-color: var(--ui-list-row-selected-background-color-dark);
  --ui-form-input-foreground-color: var(--ui-list-row-foreground-color-dark);
  --ui-form-input-background-color: var(--ui-list-row-background-color-dark);
  --ui-form-input-border-color: var(--ui-form-input-border-color-dark);
}

@media (prefers-color-scheme: dark) {

  :root {
    --ui-list-border-color: var(--ui-list-border-color-dark);
    --ui-list-row-border-color: var(--ui-list-row-border-color-dark);
    --ui-list-row-foreground-color: var(--ui-list-row-foreground-color-dark);
    --ui-list-row-background-color: var(--ui-list-row-background-color-dark);
    --ui-list-row-selected-background-color: var(--ui-list-row-selected-background-color-dark);
    --ui-form-input-foreground-color: var(--ui-list-row-foreground-color-dark);
    --ui-form-input-background-color: var(--ui-list-row-background-color-dark);
    --ui-form-input-border-color: var(--ui-form-input-border-color-dark);
  }

  :root.light-theme {
    --ui-list-border-color: var(--ui-list-border-color-light);
    --ui-list-row-border-color: var(--ui-list-row-border-color-light);
    --ui-list-row-foreground-color: var(--ui-list-row-foreground-color-light);
    --ui-list-row-background-color: var(--ui-list-row-background-color-light);
    --ui-list-row-selected-background-color: var(--ui-list-row-selected-background-color-light);
    --ui-form-input-foreground-color: var(--ui-list-row-foreground-color-light);
    --ui-form-input-background-color: var(--ui-list-row-background-color-light);
    --ui-form-input-border-color: var(--ui-form-input-border-color-light);
  }

}

.ui-list {
  overflow: scroll;
  border: solid 1px var(--ui-list-border-color);
}

.ui-list.empty {
  display:  none;
}

.ui-list > .contents {
  display: flex;
  flex-direction: column;
}

.ui-list > .contents > .row {
  display: flex;
  width: content;
  border-top: solid 1px var(--ui-list-row-border-color);
  color: var(--ui-list-row-foreground-color);
  background-color: var(--ui-list-row-background-color);
  padding: 0.15em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  cursor: pointer;
}

.ui-list > .contents > .selected {
  background-color: var(--ui-list-row-selected-background-color);
}

.ui-list > .contents > .row > .text-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-form {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 0.35rem 0.35rem;
  overflow-y: scroll;
}

.ui-form:nth-child(even) {
  background-color: blue;
}

.ui-form-label {
  text-align: right;
  align-self: center;
}

.ui-form-divider {
  border: none;
  border-top: 1px solid gray;
  width: 90%;
  height: 1px;
  grid-column: 1 / span 2;
}

.ui-form-label.header {
  font-weight: bold;
  grid-column: 1 / span 2;
  text-align: left;
}

.ui-form-value input {
  font-family: "fontra-ui-regular";
  border: solid 1px var(--ui-form-input-border-color);
  background-color: var(--ui-form-input-background-color);
  color: var(--ui-form-input-foreground-color);
  width: 12.5em;
}

.ui-form-value input[type=number] {
  width: 4em;
}

.ui-form-value input[type=range] {
  width: 8em;
}
