:root {
  --ui-form-input-foreground-color-light: black;
  --ui-form-input-foreground-color-dark: white;
  --ui-form-input-background-color-light: white;
  --ui-form-input-background-color-dark: #333;
  --ui-form-input-border-color-light: #888;
  --ui-form-input-border-color-dark: #222;
}

:root {
  --ui-form-input-foreground-color: var(--ui-form-input-foreground-color-light);
  --ui-form-input-background-color: var(--ui-form-input-background-color-light);
  --ui-form-input-border-color: var(--ui-form-input-border-color-light);
}

:root.dark-theme {
  --ui-form-input-foreground-color: var(--ui-form-input-foreground-color-dark);
  --ui-form-input-background-color: var(--ui-form-input-background-color-dark);
  --ui-form-input-border-color: var(--ui-form-input-border-color-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --ui-form-input-foreground-color: var(--ui-form-input-foreground-color-dark);
    --ui-form-input-background-color: var(--ui-form-input-background-color-dark);
    --ui-form-input-border-color: var(--ui-form-input-border-color-dark);
  }

  :root.light-theme {
    --ui-form-input-foreground-color: var(--ui-form-input-foreground-color-light);
    --ui-form-input-background-color: var(--ui-form-input-background-color-light);
    --ui-form-input-border-color: var(--ui-form-input-border-color-light);
  }
}

/* ui-form */

.ui-form {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 0.35rem 0.35rem;
  overflow-x: hidden;
  overflow-y: scroll;
  user-select: none;
}

.ui-form:nth-child(even) {
  background-color: blue;
}

.ui-form-label {
  text-align: right;
  align-self: center;
}

.ui-form-divider {
  border: none;
  border-top: 1px solid gray;
  width: 90%;
  height: 1px;
  grid-column: 1 / span 2;
}

.ui-form-label.header {
  font-weight: bold;
  grid-column: 1 / span 2;
  text-align: left;
}

.ui-form-value input {
  font-family: "fontra-ui-regular";
  border: solid 1px var(--ui-form-input-border-color);
  background-color: var(--ui-form-input-background-color);
  color: var(--ui-form-input-foreground-color);
  width: 9.5em;
}

.ui-form-value input[type="number"] {
  width: 4em;
}

.ui-form-value input[type="range"] {
  width: 7em;
}
