<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>_cursor-rotate-hotspot-0-0</key>
    <string>_cursor-rotate-hotspot-0-0.glif</string>
    <key>_cursor-rotate-temp</key>
    <string>_cursor-rotate-temp.glif</string>
    <key>_geartooth</key>
    <string>_geartooth.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>aligncenter</key>
    <string>aligncenter.glif</string>
    <key>alignleft</key>
    <string>alignleft.glif</string>
    <key>alignright</key>
    <string>alignright.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>bullseye</key>
    <string>bullseye.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>cursor-rotate-bottom-center</key>
    <string>cursor-rotate-bottom-center.glif</string>
    <key>cursor-rotate-bottom-left</key>
    <string>cursor-rotate-bottom-left.glif</string>
    <key>cursor-rotate-bottom-right</key>
    <string>cursor-rotate-bottom-right.glif</string>
    <key>cursor-rotate-middle-left</key>
    <string>cursor-rotate-middle-left.glif</string>
    <key>cursor-rotate-middle-right</key>
    <string>cursor-rotate-middle-right.glif</string>
    <key>cursor-rotate-top-center</key>
    <string>cursor-rotate-top-center.glif</string>
    <key>cursor-rotate-top-left</key>
    <string>cursor-rotate-top-left.glif</string>
    <key>cursor-rotate-top-right</key>
    <string>cursor-rotate-top-right.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gear</key>
    <string>gear.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hand</key>
    <string>hand.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>info</key>
    <string>info.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kerningtool</key>
    <string>kerningtool.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>layers</key>
    <string>layers.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>magnifyingglass</key>
    <string>magnifyingglass.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>pointer</key>
    <string>pointer.glif</string>
    <key>pointeradd</key>
    <string>pointeradd.glif</string>
    <key>pointeraddquad</key>
    <string>pointeraddquad.glif</string>
    <key>pointerscale</key>
    <string>pointerscale.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>reference</key>
    <string>reference.glif</string>
    <key>ruler</key>
    <string>ruler.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>skew</key>
    <string>skew.glif</string>
    <key>sliders</key>
    <string>sliders.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>texttool</key>
    <string>texttool.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
  </dict>
</plist>
