<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Fontra — {projectPath}</title>
    <link href="/css/ui-list.css" rel="stylesheet">
    <link href="/css/slider.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>

    <div id="global-loader-spinner"></div>

    <div class="page">

      <div class="canvas-container">

        <div id="overlay-layer">

          <div class="overlay-items overlay-items-left">

            <div class="overlay-item" id="glyph-search-overlay">
              <img class="icon-img" id="glyph-search-img" src="/images/magnifying-glass-black.svg">

              <div class="glyphs-navigation">
                <div class="glyphs-search">
                  <input
                    type="text"
                    class="glyphs-search-input"
                    id="glyphs-search-input"
                    placeholder="Search glyphs"
                    oninput="editorController.glyphSearchFieldChanged(value)">
                </div>
                <div id="glyphs-list" tabindex="1">
                  <!-- contents will be filled dynamically -->
                </div>
              </div>

            </div>

            <div class="overlay-item" id="sliders-overlay">
              <img class="icon-img" id="slider-img" src="/images/sliders-black.svg">
              <div class="sliders-and-sources">
                <div class="axis-sliders" id="axis-sliders">
                  <!-- contents will be filled dynamically -->
                </div>
                <div class="sources-list" id="sources-list" tabindex="1">
                  <!-- contents will be filled dynamically -->
                </div>
              </div>
            </div>

            <div class="overlay-item" id="text-entry-overlay">
              <img class="icon-img" id="text-entry-img" src="/images/text-tool-black.svg">
              <div>
                <div id="text-entry" contenteditable="true"></div>
              </div>
            </div>

          </div>

          <div class="overlay-items overlay-items-right">

            <div class="overlay-item" id="info-thing">
              <img class="icon-img" id="info-img" src="/images/info-black.svg">
              <div>
                Testing
                <br>
                More testing
                <!-- <div id="text-entry" contenteditable="true"></div> -->
              </div>
            </div>

          </div>

        </div>

        <div id="mini-console"></div>

        <canvas id="edit-canvas" tabindex="1"></canvas>

      </div>

  </div>
  </body>
    <script type="module">
      import {{ EditorController }} from "/src/editor-controller.js";

      async function startApp() {{
        const protocol = location.protocol === "http:" ? "ws" : "wss";
        const url = `${{protocol}}://${{location.hostname}}:{webSocketPort}/{projectPath}`;
        window.editorController = await EditorController.fromWebSocketURL(url);
        await window.editorController.start();
      }}

      startApp();

    </script>
</html>
