<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Fontra</title>
    <link href="/css/ui-list.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <style>
    </style>
  </head>
  <body class="landing-body">

    <div id="global-loader-spinner"></div>

    <div class="landing-content">

      <div class="landing-item" id="fontra-icon">
        <img src="/images/fontra-icon.svg" width="100" height="100">
      </div>

      <div class="landing-item hidden" id="login-form-container">

        <form action="/login" method="post" id="login-form">

          <label for="login-username" class="login-label">Username:</label>
          <input
            type="text"
            name="username"
            placeholder="Enter Username"
            class="login-input login-username"
            id="login-username"
            tabindex="1"
            required>
          <label for="login-password" class="login-label">Password:</label>
          <input
            type="password"
            name="password"
            placeholder="Enter Password"
            class="login-input login-password"
            id="login-password"
            tabindex="2"
            required>
          <button type="submit" class="login-button">Log in</button>
          <div class="hidden" id="login-failure-message">Login failed</div>

        </form>

      </div>

      <div class="landing-item hidden" id="logout-form-container">

        <form action="/logout" method="post" id="logout-form">
          <button type="submit" class="logout-button" id="logout-button">Log out</button>
        </form>

      </div>

      <div class="landing-item hidden" id="project-list" tabindex="3">
      </div>

    </div>
  </div>
  </body>
    <script type="module">

      import {{ LandingController }} from "/src/landing-controller.js";

      async function startApp() {{
        const protocol = location.protocol === "http:" ? "ws" : "wss";
        const url = `${{protocol}}://${{location.hostname}}:{webSocketPort}/`;
        const landingController = await LandingController.fromWebSocketURL(url, {requireLogin});
      }}

      startApp();

    </script>
</html>
