<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Fontra</title>
    <link href="/css/ui-list.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <style>
    </style>
  </head>
  <body class="landing-body">
    <div class="landing-content">

      <div class="landing-item" id="fontra-icon">
        <img src="/images/fontra-icon.svg" width="100" height="100">
      </div>

      <div class="landing-item">

        <form action="test_login.xxx" method="post" id="login-form">

        <div class="login-label">Username:</div>
        <input type="text" placeholder="Enter Username" class="login-input login-username" id="login-username" required>
        <div class="login-label">Password:</div>
        <input type="password" placeholder="Enter Password" class="login-input login-password" id="login-password" required>
        <button type="submit" class="login-login-button">Log in</button>

      </form>
      </div>

      <div class="landing-item" id="project-list" tabindex="1">
      </div>

    </div>
  </div>
  </body>
    <script type="module">

      import {{ LandingController }} from "/src/landing-controller.js";

      async function startApp() {{
        const url = `ws://${{location.hostname}}:{webSocketPort}/`;
        const landingController = await LandingController.fromURL(url);
        await landingController.setup();
      }}

      startApp();

    </script>
</html>
