<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/css/core.css" rel="stylesheet" />
    <link href="/fontoverview/fontoverview.css" rel="stylesheet" />
    <link href="/css/tooltip.css" rel="stylesheet" />
    <title>Fontra Font Info</title>
    <script type="module" src="/web-components/modal-dialog.js"></script>
    <script type="module" src="/core/theme-settings.js"></script>
  </head>
  <body>
    <modal-dialog></modal-dialog>
    <div class="main-container">
      <div id="sidebar-container" class="sidebar-shadow-box"></div>
      <div id="panel-container"></div>
    </div>
  </body>
  <script type="module">
    import { FontOverviewController } from "/fontoverview/fontoverview.js";

    async function startApp() {
      window.fontOverviewController = await FontOverviewController.fromWebSocket();
    }

    startApp();
  </script>
</html>
