<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/css/shared.css" rel="stylesheet" />
    <link href="/css/core.css" rel="stylesheet" />
    <link href="/fontoverview/fontoverview.css" rel="stylesheet" />
    <link href="/css/tooltip.css" rel="stylesheet" />
    <title>Fontra Font Overview</title>
    <script type="module" src="/web-components/modal-dialog.js"></script>
    <script type="module" src="/web-components/designspace-location.js"></script>
    <script type="module" src="/web-components/glyph-search-field.js"></script>
    <script type="module" src="/core/theme-settings.js"></script>
  </head>
  <body>
    <modal-dialog></modal-dialog>
    <div id="global-loader-spinner"></div>
    <div class="top-bar-container"></div>
    <div class="main-container">
      <div id="sidebar-container" class="font-overview-sidebar-shadow-box"></div>
      <div id="glyph-cell-view-container"></div>
    </div>
  </body>
  <script type="module">
    import { FontOverviewController } from "/fontoverview/fontoverview.js";

    async function startApp() {
      window.fontOverviewController = await FontOverviewController.fromBackend();
    }

    startApp();
  </script>
</html>
