<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/css/core.css" rel="stylesheet" />
    <title>Fontra Font Info</title>
    <style>
      body {
        display: grid;
        grid-template-columns: 25% auto;
        margin: 2em;
      }

      .header {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="header" for="names-content">Names</div>
      <div class="header" for="axes-content">Axes</div>
      <div class="header" for="sources-content">Sources</div>
    </div>
    <div>
      <div class="content" id="names-content" hidden>Names Content</div>
      <div class="content" id="axes-content" hidden>Axes Content</div>
      <div class="content" id="sources-content" hidden>Sources Content</div>
    </div>
  </body>
  <script type="module">
    import { FontInfoController } from "/fontinfo/fontinfo.js";

    async function startApp() {
      window.fontInfoController = await FontInfoController.fromWebSocket();
    }

    function headerClick(event) {
      const showID = event.target.getAttribute("for");
      for (const el of document.querySelectorAll(".content")) {
        el.hidden = el.id != showID;
      }
    }

    for (const el of document.querySelectorAll(".header")) {
      el.onclick = headerClick;
    }

    startApp();
  </script>
</html>
