<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/css/core.css" rel="stylesheet" />
    <title>Fontra Font Info</title>
    <style>
      body {
        display: grid;
        grid-template-columns: 10em auto;
        margin: 2em;
      }

      .chapters {
        display: grid;
        align-content: start;
        gap: 1em;
      }

      .header {
        cursor: pointer;
        font-size: 1.25em;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div id="header-container"></div>
    <div id="panel-container"></div>
  </body>
  <script type="module">
    import { FontInfoController } from "/fontinfo/fontinfo.js";

    async function startApp() {
      window.fontInfoController = await FontInfoController.fromWebSocket();
    }

    startApp();
  </script>
</html>
